#INIT
BASEURL='http://localhost:3000'
NODE_ENV='development'

#DATABASE
MONGODB_HOST='localhost'
MONGODB_NAME='next_ai'
MONGODB_USER=user
MONGODB_PASS=
MONGODB_PORT=27017
MONGODB_PARAM='?authSource=admin&retryWrites=true&w=majority'
MONGODB_URI='mongodb://'

# UPLOAD DIR
UPLOAD_DIR='public/uploads/'

# GOOGLE API KEY
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxx
AI_MODEL=gemini-2.0-flash

ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_USERNAME=xxxxxxx
ELASTICSEARCH_PASSWORD=xxxxxxx