@import "tailwindcss";
.flex-dynamic {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.flex-dynamic > * {
  flex-basis: 200px;
  flex-grow: 1;
}
